In [0]:
#Boiler plate code to import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
drug_train_path = '/content/drive/My Drive/csvs/drug_train_file.csv'
drug_test_path = '/content/drive/My Drive/csvs/drug_test_file.csv'

In [0]:
df = pd.read_csv(drug_train_path)

In [5]:
df.head(10)

,Patient_ID,YEAR,LocationDesc,Subtopic,Greater_Risk_Question,Description,Sample_Size,Sex,Race,Grade,GeoLocation,QuestionCode,StratID1,StratID2,StratID3,StratificationType,Greater_Risk_Probability
0,1,1995,"Houston, TX",1,Ever used cocaine,"any form of cocaine, such as powder, crack, or...",335.0,Female,Hispanic or Latino,4,"(29.760427, -95.369803)",H49,1,4,0,Local,7.4793
1,2,1997,"Houston, TX",0,Currently drank alcohol,"at least one drink of alcohol, on at least 1 d...",382.0,Total,Black or African American,4,"(29.760427, -95.369803)",H42,0,3,0,Local,49.6852
2,3,1993,Nevada,0,Had their first drink of alcohol before age 13...,other than a few sips,196.0,Female,White,0,"(39.493240390000494, -117.07184056399967)",H41,1,6,2,State,47.8132
3,4,2017,Pennsylvania,1,Ever used cocaine,"any form of cocaine, such as powder, crack, or...",104.0,Male,Asian,4,"(40.79373015200048, -77.86070029399963)",H49,2,2,0,State,3.4554
4,5,2007,"San Francisco, CA",1,Ever took steroids without a doctor's prescrip...,"pills or shots, one or more times during their...",100.0,Female,Multiple Race,4,"(37.77493, -122.419416)",H55,1,7,0,Local,0.0000
5,6,2015,"Philadelphia, PA",1,Ever used inhalants,"sniffed glue, breathed the contents of aerosol...",108.0,Male,Black or African American,3,"(39.952584, -75.165222)",H50,2,3,1,Local,23.4575
6,7,2009,"San Diego, CA",0,Currently drank alcohol,"at least one drink of alcohol, on at least 1 d...",230.0,Female,Total,1,"(32.715738, -117.161084)",H42,1,0,3,Local,45.7599
7,8,2007,Utah,0,Currently drank alcohol,"at least one drink of alcohol, on at least 1 d...",180.0,Male,Total,1,"(39.360700171000474, -111.58713063499971)",H42,2,0,3,State,23.3038
8,9,2017,West Virginia,1,"Were offered, sold, or given an illegal drug o...",during the 12 months before the survey,427.0,Total,Total,1,"(38.66551020200046, -80.71264013499967)",H58,0,0,3,State,30.7151
9,10,1999,Hawaii,1,Ever used inhalants,"sniffed glue, breathed the contents of aerosol...",314.0,Total,Total,1,"(21.304850435000446, -157.85774940299973)",H50,0,0,3,State,18.3384

#Column Names

In [6]:
df.columns

Index(['Patient_ID', 'YEAR', 'LocationDesc', 'Subtopic',
       'Greater_Risk_Question', 'Description', 'Sample_Size', 'Sex', 'Race',
       'Grade', 'GeoLocation', 'QuestionCode', 'StratID1', 'StratID2',
       'StratID3', 'StratificationType', 'Greater_Risk_Probability'],
      dtype='object')

#Data Types of Columns

In [7]:
df.dtypes

Patient_ID                    int64
YEAR                          int64
LocationDesc                 object
Subtopic                      int64
Greater_Risk_Question        object
Description                  object
Sample_Size                 float64
Sex                          object
Race                         object
Grade                         int64
GeoLocation                  object
QuestionCode                 object
StratID1                      int64
StratID2                      int64
StratID3                      int64
StratificationType           object
Greater_Risk_Probability    float64
dtype: object

In [8]:
df.columns.to_series().groupby(df.dtypes).groups

{dtype('int64'): Index(['Patient_ID', 'YEAR', 'Subtopic', 'Grade', 'StratID1', 'StratID2',
        'StratID3'],
       dtype='object'),
 dtype('float64'): Index(['Sample_Size', 'Greater_Risk_Probability'], dtype='object'),
 dtype('O'): Index(['LocationDesc', 'Greater_Risk_Question', 'Description', 'Sex', 'Race',
        'GeoLocation', 'QuestionCode', 'StratificationType'],
       dtype='object')}

#Checking for Null values

In [0]:
df.isnull().sum(axis = 0)

Patient_ID                     0
YEAR                           0
LocationDesc                   0
Subtopic                       0
Greater_Risk_Question          0
Description                    0
Sample_Size                    0
Sex                            0
Race                           0
Grade                          0
GeoLocation                 3301
QuestionCode                   0
StratID1                       0
StratID2                       0
StratID3                       0
StratificationType             0
Greater_Risk_Probability       0
dtype: int64

#Setting Patient id as index

In [0]:
#setting patient id as index
df.set_index('Patient_ID', inplace=True)

In [0]:
df.head(5)

,YEAR,LocationDesc,Subtopic,Greater_Risk_Question,Description,Sample_Size,Sex,Race,Grade,GeoLocation,QuestionCode,StratID1,StratID2,StratID3,StratificationType,Greater_Risk_Probability
Patient_ID,,,,,,,,,,,,,,,,
1,1995,"Houston, TX",1,Ever used cocaine,"any form of cocaine, such as powder, crack, or...",335.0,Female,Hispanic or Latino,4,"(29.760427, -95.369803)",H49,1,4,0,Local,7.4793
2,1997,"Houston, TX",0,Currently drank alcohol,"at least one drink of alcohol, on at least 1 d...",382.0,Total,Black or African American,4,"(29.760427, -95.369803)",H42,0,3,0,Local,49.6852
3,1993,Nevada,0,Had their first drink of alcohol before age 13...,other than a few sips,196.0,Female,White,0,"(39.493240390000494, -117.07184056399967)",H41,1,6,2,State,47.8132
4,2017,Pennsylvania,1,Ever used cocaine,"any form of cocaine, such as powder, crack, or...",104.0,Male,Asian,4,"(40.79373015200048, -77.86070029399963)",H49,2,2,0,State,3.4554
5,2007,"San Francisco, CA",1,Ever took steroids without a doctor's prescrip...,"pills or shots, one or more times during their...",100.0,Female,Multiple Race,4,"(37.77493, -122.419416)",H55,1,7,0,Local,0.0000

##Removing Unnecessary columns which contains only question and question id
 **NOTE**
 'Sub topic' is not removed because 0 means Alcohol and 1 means Cocain

In [0]:
#unnecessary_columns = ['GeoLocation','Greater_Risk_Question','Description','QuestionCode']

In [0]:
#df.drop(unnecessary_columns, axis=1, inplace=True)

In [0]:
#df.columns.to_series().groupby(df.dtypes).groups

In [0]:
#columns_to_drop = ['StratID1','StratID2', 'StratID3','LocationDesc','Race','StratificationType']

In [0]:
#modified_df = df.drop(columns_to_drop, axis = 1)

In [0]:
#type(list(modified_df.columns.values))

#Selecting Only useful Features

In [0]:
columns_selected = ['YEAR', 'Subtopic', 'Sample_Size', 'Sex', 'Grade', 'Race', 'Greater_Risk_Probability']

In [0]:
to_train_df = df[columns_selected]

In [11]:
to_train_df.dtypes

YEAR                          int64
Subtopic                      int64
Sample_Size                 float64
Sex                          object
Grade                         int64
Race                         object
Greater_Risk_Probability    float64
dtype: object

NOTE: **Changing some integer columns to Object type so that we can One Hot encode all object type columns in the dataframe easily with just a single line**

In [12]:
for col in ['Subtopic']:
    to_train_df[col] = to_train_df[col].astype(np.object)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
to_train_df.dtypes

YEAR                          int64
Subtopic                     object
Sample_Size                 float64
Sex                          object
Grade                         int64
Race                         object
Greater_Risk_Probability    float64
dtype: object

#Converting all object type columns in the dataframe to Dummy columns (One-Hot-Encode)

In [0]:
df_to_train = pd.get_dummies(to_train_df)

In [15]:
df_to_train.head(5)

,YEAR,Sample_Size,Grade,Greater_Risk_Probability,Subtopic_0,Subtopic_1,Sex_Female,Sex_Male,Sex_Total,Race_American Indian or Alaska Native,Race_Asian,Race_Black or African American,Race_Hispanic or Latino,Race_Multiple Race,Race_Native Hawaiian or Other Pacific Islander,Race_Total,Race_White
0,1995,335.0,4,7.4793,0,1,1,0,0,0,0,0,1,0,0,0,0
1,1997,382.0,4,49.6852,1,0,0,0,1,0,0,1,0,0,0,0,0
2,1993,196.0,0,47.8132,1,0,1,0,0,0,0,0,0,0,0,0,1
3,2017,104.0,4,3.4554,0,1,0,1,0,0,1,0,0,0,0,0,0
4,2007,100.0,4,0.0000,0,1,1,0,0,0,0,0,0,1,0,0,0

In [0]:
#does not contain the column to predict
X_main = df_to_train.drop('Greater_Risk_Probability', axis=1)

In [0]:
y_main = df_to_train['Greater_Risk_Probability']

In [0]:
#Import sklearn 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

###Split Train and Test the train csv file data

In [0]:
train_X, test_X, train_y, test_y = train_test_split(X_main.values, y_main.values, test_size=0.2)

In [59]:
print(type(train_X))
print(train_X.shape)
print(train_y.shape)

<class 'numpy.ndarray'>
(44319, 16)
(44319,)

In [60]:
print(test_X.shape)
print(test_y.shape)

(11080, 16)
(11080,)

#XGBoost Model

In [0]:
from xgboost import XGBRegressor

my_model = XGBRegressor(n_estimators=1000, 
                        learning_rate=0.2, 
                        max_depth=10, 
                        random_state=2)

In [63]:
#my_model.fit(X_main.values, y_main.values, 
#             early_stopping_rounds=5, 
#             eval_set=[(train_X, train_y)], 
#             verbose=False)

my_model.fit(train_X, train_y, 
             early_stopping_rounds=5, 
             eval_set=[(test_X, test_y)], 
             verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, importance_type='gain',
       learning_rate=0.2, max_delta_step=0, max_depth=10,
       min_child_weight=1, missing=None, n_estimators=1000, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=2, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [64]:
predictions = my_model.predict(test_X)

print("Mean Absolute Error : " + str(mean_absolute_error(predictions, test_y)))
print("Root Mean Squared Error : " + str(sqrt(mean_squared_error(predictions, test_y))))

Mean Absolute Error : 12.19575069025866
Root Mean Squared Error : 15.645223869259983

Comparing the predictions with the original values

In [65]:
d = {'col1': test_y, 'col2': predictions}
pd.DataFrame(data=d).head(10)

      col1       col2
0  70.1658  47.630035
1  49.2590  27.019041
2  85.7688  51.232944
3   9.4909  14.752901
4  57.0928  17.099251
5   7.4020   9.763540
6   2.5184  13.626575
7   4.3061  14.736990
8  31.9269  20.326035
9  52.9921  52.309841

In [66]:
pd.DataFrame(data=d).describe()

               col1          col2
count  11080.000000  11080.000000
mean      24.240161     23.563269
std       20.556997     13.308393
min        0.000000      2.714002
25%        8.135550     15.011903
50%       17.397100     18.091591
75%       35.348600     26.138344
max       97.283700     73.509895

#Scaled Model

In [0]:
scaler = StandardScaler()
train_X_scaled = scaler.fit_transform(train_X)
test_X_scaled = scaler.fit_transform(test_X)

In [0]:
from xgboost import XGBRegressor

my_scaled_model = XGBRegressor(n_estimators=1000, 
                        learning_rate=0.2, 
                        max_depth=10, 
                        random_state=2)

In [69]:
my_scaled_model.fit(train_X_scaled, train_y, 
             early_stopping_rounds=5, 
             eval_set=[(test_X_scaled, test_y)], 
             verbose=False)

#my_model.fit(train_X, train_y, 
#             early_stopping_rounds=5, 
#             eval_set=[(test_X, test_y)], 
#             verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, importance_type='gain',
       learning_rate=0.2, max_delta_step=0, max_depth=10,
       min_child_weight=1, missing=None, n_estimators=1000, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=2, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [70]:
predictions_scaled = my_scaled_model.predict(test_X)

print("Mean Absolute Error : " + str(mean_absolute_error(predictions, test_y)))
print("Root Mean Squared Error : " + str(sqrt(mean_squared_error(predictions, test_y))))

Mean Absolute Error : 12.19575069025866
Root Mean Squared Error : 15.645223869259983

In [71]:
d_scaled = {'col1': test_y, 'col2': predictions_scaled}
pd.DataFrame(data=d_scaled).head(10)

      col1       col2
0  70.1658  20.325171
1  49.2590  23.908958
2  85.7688  20.564642
3   9.4909  10.225652
4  57.0928  13.374605
5   7.4020   8.945653
6   2.5184   9.678649
7   4.3061   9.170400
8  31.9269  13.374605
9  52.9921  20.739988

In [72]:
pd.DataFrame(data=d_scaled).head(10).describe()

            col1       col2
count  10.000000  10.000000
mean   37.092280  15.030833
std    30.192774   5.760638
min     2.518400   8.945653
25%     7.924225   9.815400
50%    40.592950  13.374605
75%    56.067625  20.504774
max    85.768800  23.908958

#Saving Model

In [0]:
modelname = 'model_to_submit_02.pickle.dat';
fullpath = '/content/drive/My Drive/csvs/'+modelname;

In [0]:
import pickle

In [0]:
# save model to file

pickle.dump(my_model, open(fullpath, "wb"))
 
## some time later...
# 
## load model from file
#loaded_model = pickle.load(open("/content/drive/My Drive/csvs/Test1.pickle.dat", "rb"))
## make predictions for test data
#y_pred = loaded_model.predict(X_test)

In [0]:
# load model from file
#loaded_model = pickle.load(open("/content/drive/My Drive/csvs/final_to_submit.pickle.dat", "rb"))
# make predictions for test data
#y_pred = loaded_model.predict(test_X)

In [0]:
print("Mean Absolute Error : " + str(mean_absolute_error(y_pred, test_y)))
print("Mean Squared Error : " + str(sqrt(mean_squared_error(y_pred, test_y))))

#Test CSV

In [0]:
df_test = pd.read_csv(drug_test_path)

In [0]:
df_test.columns

In [0]:
df_test = df_test.set_index('Patient_ID')

In [0]:
#df_test.drop(unnecessary_columns, axis=1, inplace=True)
#df_test.drop(columns_to_drop, axis=1, inplace=True)

In [0]:
columns_selected

In [0]:
df_test_to_submit = df_test[['YEAR', 'Subtopic', 'Sample_Size', 'Sex', 'Grade', 'Race',]]

In [0]:
df_test_to_submit.head(5)

In [0]:
for col in ['Subtopic']:
    df_test_to_submit[col] = df_test_to_submit[col].astype(np.object)

In [0]:
df_test_to_submit.head(5)

In [0]:
df_test_to_submit = pd.get_dummies(df_test_to_submit)

In [0]:
df_test_to_submit.head(10)

In [0]:
predictedvalues_tosave = my_model.predict(df_test_to_submit.values)

In [0]:
predictedvalues_tosave.shape

In [0]:
df_test_to_submit.shape

In [0]:
new_df_to_submit = df_test_to_submit.copy()

In [0]:
type(new_df_to_submit)

In [0]:
predictedvalues_tosave.shape

In [0]:
new_df_to_submit['predicted'] = predictedvalues_tosave

In [0]:
new_df_to_submit.head(5)

In [0]:
final_competion_submit = pd.DataFrame(data=new_df_to_submit['predicted'])

In [0]:
final_competion_submit.rename(columns={'predicted':'Greater_Risk_Probability'}, inplace=True)

In [0]:
final_competion_submit.head(5)

In [0]:
final_competion_submit.to_csv('/content/drive/My Drive/csvs/ashiqsubmission02.csv')

#Keras Deep Learning Model

In [0]:
#X_normalised = (X_main - X_main.mean()) / X_main.std()
#X_normalised.head()
#
#test_X_normalised =  (test_X - test_X.mean()) / test_X.std()

In [0]:
import keras

Using TensorFlow backend.

In [0]:
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM
from keras.layers import Dropout

##develop a neural network

In [0]:
n_cols = X_main.values.shape[1]

In [0]:
X_main.values.shape[1]

16

In [0]:
# define regression model
def regression_model():
    # create model
    dl_model = Sequential()
    dl_model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    #dl_model.add(Dense(50, activation='relu'))
    dl_model.add(Dense(25, activation='relu'))
    dl_model.add(Dense(10, activation='relu'))
    dl_model.add(Dense(5, activation='relu'))
    dl_model.add(Dense(1))
    
    # compile model
    dl_model.compile(optimizer='adam', loss='mean_absolute_error')
    return dl_model

In [0]:
dl_model = regression_model()
dl_model.fit(X_main.values, y_main.values, validation_split=0.2, epochs=100, verbose=2)

In [0]:
dl_predictions = dl_model.predict(test_X)

In [0]:

print("Mean Absolute Error : " + str(mean_absolute_error(dl_predictions, test_y)))
print("Mean Squared Error : " + str(sqrt(mean_squared_error(dl_predictions, test_y))))

In [0]:
print("test_y:",test_y[:15], "\nPredicitions",dl_predictions[:15])

#LSTM Model

In [0]:
X_train = np.reshape(train_X, (train_X.shape[0], 1, train_X.shape[1]))
X_test = np.reshape(test_X, (test_X.shape[0], 1, test_X.shape[1]))

In [0]:
regressor = Sequential()

#regressor.add(LSTM(units = 50, return_sequences = True, input_shape = (train_X.shape[1], 1)))
regressor.add(LSTM(100, input_shape=X_train.shape[1], return_sequences=True, implementation=2))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 50, return_sequences = True))
regressor.add(Dropout(0.2))

regressor.add(LSTM(units = 50))
regressor.add(Dropout(0.2))


regressor.add(Dense(units = 1))

In [0]:
regressor.compile(optimizer = 'adam', loss = 'mean_absolute_error')

regressor.fit(train_X, train_y, epochs = 10, batch_size = 32)