<a href="https://colab.research.google.com/github/ashiqdrive/MyNotebooks/blob/master/HackerEarth_Incedo_Competition_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Boiler plate code to import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
drug_train_path = '/content/drive/My Drive/csvs/drug_train_file.csv'
drug_test_path = '/content/drive/My Drive/csvs/drug_test_file.csv'

In [0]:
df = pd.read_csv(drug_train_path)

In [6]:
df.head(10)

,Patient_ID,YEAR,LocationDesc,Subtopic,Greater_Risk_Question,Description,Sample_Size,Sex,Race,Grade,GeoLocation,QuestionCode,StratID1,StratID2,StratID3,StratificationType,Greater_Risk_Probability
0,1,1995,"Houston, TX",1,Ever used cocaine,"any form of cocaine, such as powder, crack, or...",335.0,Female,Hispanic or Latino,4,"(29.760427, -95.369803)",H49,1,4,0,Local,7.4793
1,2,1997,"Houston, TX",0,Currently drank alcohol,"at least one drink of alcohol, on at least 1 d...",382.0,Total,Black or African American,4,"(29.760427, -95.369803)",H42,0,3,0,Local,49.6852
2,3,1993,Nevada,0,Had their first drink of alcohol before age 13...,other than a few sips,196.0,Female,White,0,"(39.493240390000494, -117.07184056399967)",H41,1,6,2,State,47.8132
3,4,2017,Pennsylvania,1,Ever used cocaine,"any form of cocaine, such as powder, crack, or...",104.0,Male,Asian,4,"(40.79373015200048, -77.86070029399963)",H49,2,2,0,State,3.4554
4,5,2007,"San Francisco, CA",1,Ever took steroids without a doctor's prescrip...,"pills or shots, one or more times during their...",100.0,Female,Multiple Race,4,"(37.77493, -122.419416)",H55,1,7,0,Local,0.0000
5,6,2015,"Philadelphia, PA",1,Ever used inhalants,"sniffed glue, breathed the contents of aerosol...",108.0,Male,Black or African American,3,"(39.952584, -75.165222)",H50,2,3,1,Local,23.4575
6,7,2009,"San Diego, CA",0,Currently drank alcohol,"at least one drink of alcohol, on at least 1 d...",230.0,Female,Total,1,"(32.715738, -117.161084)",H42,1,0,3,Local,45.7599
7,8,2007,Utah,0,Currently drank alcohol,"at least one drink of alcohol, on at least 1 d...",180.0,Male,Total,1,"(39.360700171000474, -111.58713063499971)",H42,2,0,3,State,23.3038
8,9,2017,West Virginia,1,"Were offered, sold, or given an illegal drug o...",during the 12 months before the survey,427.0,Total,Total,1,"(38.66551020200046, -80.71264013499967)",H58,0,0,3,State,30.7151
9,10,1999,Hawaii,1,Ever used inhalants,"sniffed glue, breathed the contents of aerosol...",314.0,Total,Total,1,"(21.304850435000446, -157.85774940299973)",H50,0,0,3,State,18.3384

#Column Names

In [7]:
df.columns

Index(['Patient_ID', 'YEAR', 'LocationDesc', 'Subtopic',
       'Greater_Risk_Question', 'Description', 'Sample_Size', 'Sex', 'Race',
       'Grade', 'GeoLocation', 'QuestionCode', 'StratID1', 'StratID2',
       'StratID3', 'StratificationType', 'Greater_Risk_Probability'],
      dtype='object')

#Data Types of Columns

In [8]:
df.dtypes

Patient_ID                    int64
YEAR                          int64
LocationDesc                 object
Subtopic                      int64
Greater_Risk_Question        object
Description                  object
Sample_Size                 float64
Sex                          object
Race                         object
Grade                         int64
GeoLocation                  object
QuestionCode                 object
StratID1                      int64
StratID2                      int64
StratID3                      int64
StratificationType           object
Greater_Risk_Probability    float64
dtype: object

In [9]:
df.columns.to_series().groupby(df.dtypes).groups

{dtype('int64'): Index(['Patient_ID', 'YEAR', 'Subtopic', 'Grade', 'StratID1', 'StratID2',
        'StratID3'],
       dtype='object'),
 dtype('float64'): Index(['Sample_Size', 'Greater_Risk_Probability'], dtype='object'),
 dtype('O'): Index(['LocationDesc', 'Greater_Risk_Question', 'Description', 'Sex', 'Race',
        'GeoLocation', 'QuestionCode', 'StratificationType'],
       dtype='object')}

#Checking for Null values

In [10]:
df.isnull().sum(axis = 0)

Patient_ID                     0
YEAR                           0
LocationDesc                   0
Subtopic                       0
Greater_Risk_Question          0
Description                    0
Sample_Size                    0
Sex                            0
Race                           0
Grade                          0
GeoLocation                 3301
QuestionCode                   0
StratID1                       0
StratID2                       0
StratID3                       0
StratificationType             0
Greater_Risk_Probability       0
dtype: int64

#Setting Patient id as index

In [0]:
#setting patient id as index
df.set_index('Patient_ID', inplace=True)

In [12]:
df.head(5)

,YEAR,LocationDesc,Subtopic,Greater_Risk_Question,Description,Sample_Size,Sex,Race,Grade,GeoLocation,QuestionCode,StratID1,StratID2,StratID3,StratificationType,Greater_Risk_Probability
Patient_ID,,,,,,,,,,,,,,,,
1,1995,"Houston, TX",1,Ever used cocaine,"any form of cocaine, such as powder, crack, or...",335.0,Female,Hispanic or Latino,4,"(29.760427, -95.369803)",H49,1,4,0,Local,7.4793
2,1997,"Houston, TX",0,Currently drank alcohol,"at least one drink of alcohol, on at least 1 d...",382.0,Total,Black or African American,4,"(29.760427, -95.369803)",H42,0,3,0,Local,49.6852
3,1993,Nevada,0,Had their first drink of alcohol before age 13...,other than a few sips,196.0,Female,White,0,"(39.493240390000494, -117.07184056399967)",H41,1,6,2,State,47.8132
4,2017,Pennsylvania,1,Ever used cocaine,"any form of cocaine, such as powder, crack, or...",104.0,Male,Asian,4,"(40.79373015200048, -77.86070029399963)",H49,2,2,0,State,3.4554
5,2007,"San Francisco, CA",1,Ever took steroids without a doctor's prescrip...,"pills or shots, one or more times during their...",100.0,Female,Multiple Race,4,"(37.77493, -122.419416)",H55,1,7,0,Local,0.0000

##Removing Unnecessary columns which contains only question and question id
 **NOTE**
 'Sub topic' is not removed because 0 means Alcohol and 1 means Cocain

In [0]:
#unnecessary_columns = ['GeoLocation','Greater_Risk_Question','Description','QuestionCode']

In [0]:
#df.drop(unnecessary_columns, axis=1, inplace=True)

In [0]:
#df.columns.to_series().groupby(df.dtypes).groups

In [0]:
#columns_to_drop = ['StratID1','StratID2', 'StratID3','LocationDesc','Race','StratificationType']

In [0]:
#modified_df = df.drop(columns_to_drop, axis = 1)

In [0]:
#type(list(modified_df.columns.values))

#Selecting Only useful Features

In [0]:
columns_selected = ['YEAR', 'Subtopic', 'Sample_Size', 'Sex', 'Grade', 'Race', 'Greater_Risk_Probability']

In [0]:
to_train_df = df[columns_selected]

In [17]:
to_train_df.dtypes

YEAR                          int64
Subtopic                      int64
Sample_Size                 float64
Sex                          object
Grade                         int64
Race                         object
Greater_Risk_Probability    float64
dtype: object

NOTE: **Changing some integer columns to Object type so that we can One Hot encode all object type columns in the dataframe easily with just a single line**

In [18]:
for col in ['Subtopic']:
    to_train_df[col] = to_train_df[col].astype(np.object)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
to_train_df.dtypes

YEAR                          int64
Subtopic                     object
Sample_Size                 float64
Sex                          object
Grade                         int64
Race                         object
Greater_Risk_Probability    float64
dtype: object

#Converting all object type columns in the dataframe to Dummy columns (One-Hot-Encode)

In [0]:
df_to_train = pd.get_dummies(to_train_df)

In [21]:
df_to_train.head(5)

,YEAR,Sample_Size,Grade,Greater_Risk_Probability,Subtopic_0,Subtopic_1,Sex_Female,Sex_Male,Sex_Total,Race_American Indian or Alaska Native,Race_Asian,Race_Black or African American,Race_Hispanic or Latino,Race_Multiple Race,Race_Native Hawaiian or Other Pacific Islander,Race_Total,Race_White
Patient_ID,,,,,,,,,,,,,,,,,
1,1995,335.0,4,7.4793,0,1,1,0,0,0,0,0,1,0,0,0,0
2,1997,382.0,4,49.6852,1,0,0,0,1,0,0,1,0,0,0,0,0
3,1993,196.0,0,47.8132,1,0,1,0,0,0,0,0,0,0,0,0,1
4,2017,104.0,4,3.4554,0,1,0,1,0,0,1,0,0,0,0,0,0
5,2007,100.0,4,0.0000,0,1,1,0,0,0,0,0,0,1,0,0,0

In [0]:
#does not contain the column to predict
X_main = df_to_train.drop('Greater_Risk_Probability', axis=1)

In [0]:
y_main = df_to_train['Greater_Risk_Probability']

#Shuffel the data

In [0]:
from sklearn.utils import shuffle
X_main, y_main = shuffle(X_main, y_main)

In [0]:
#Import sklearn 
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

###Split Train and Test the train csv file data

In [0]:
train_X, test_X, train_y, test_y = train_test_split(X_main.values, y_main.values, test_size=0.3)

In [85]:
print("Train X", train_X.shape)
print("Train y", train_y.shape)
print("Test X", test_X.shape)
print("Test X", test_y.shape)

Train X (38779, 16)
Train y (38779,)
Test X (16620, 16)
Test X (16620,)

In [0]:
from sklearn.utils import shuffle
train_X, train_y = shuffle(train_X, train_y)
test_X, test_y = shuffle(test_X, test_y)

#XGBoost Model

In [0]:
from xgboost import XGBRegressor

my_model = XGBRegressor(n_estimators=1000, 
                        learning_rate=0.2, 
                        max_depth=10, 
                        random_state=42)

In [88]:
#my_model.fit(X_main.values, y_main.values, 
#             early_stopping_rounds=5, 
#             eval_set=[(train_X, train_y)], 
#             verbose=False)

my_model.fit(train_X, train_y, 
             early_stopping_rounds=8, 
             eval_set=[(test_X, test_y)], 
             verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, importance_type='gain',
       learning_rate=0.2, max_delta_step=0, max_depth=10,
       min_child_weight=1, missing=None, n_estimators=1000, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=42, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [89]:
predictions = my_model.predict(test_X)

print("Mean Absolute Error : " + str(mean_absolute_error(predictions, test_y)))
print("Root Mean Squared Error : " + str(sqrt(mean_squared_error(predictions, test_y))))

Mean Absolute Error : 12.275554711602481
Root Mean Squared Error : 15.801463805421669

Comparing the predictions with the original values

In [90]:
d = {'Real Values': test_y, 'Predictions': predictions}
pd.DataFrame(data=d).head(10)

   Real Values  Predictions
0       3.4733    12.444678
1       6.7019    12.185646
2      23.2460    15.757608
3      39.1452    19.646898
4      38.9155    52.925308
5      17.9872    20.370230
6       3.4642    22.159639
7      42.0606    18.109419
8      73.8614    44.669899
9      12.5775    17.324911

In [91]:
pd.DataFrame(data=d).describe()

        Real Values   Predictions
count  16620.000000  16620.000000
mean      24.475379     23.522116
std       20.598866     13.281174
min        0.000000      2.181649
25%        8.213325     14.838758
50%       17.582650     18.087729
75%       35.909800     26.088743
max       96.651000     76.920319

### Trying the same with Scaled Input using standard Scaler

In [0]:
scaler = StandardScaler()
train_X_scaled = scaler.fit_transform(train_X)
test_X_scaled = scaler.fit_transform(test_X)

In [0]:
from xgboost import XGBRegressor

my_scaled_model = XGBRegressor(n_estimators=1000, 
                        learning_rate=0.2, 
                        max_depth=10, 
                        random_state=2)

In [94]:
my_scaled_model.fit(train_X_scaled, train_y, 
             early_stopping_rounds=5, 
             eval_set=[(test_X_scaled, test_y)], 
             verbose=False)

#my_model.fit(train_X, train_y, 
#             early_stopping_rounds=5, 
#             eval_set=[(test_X, test_y)], 
#             verbose=False)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, importance_type='gain',
       learning_rate=0.2, max_delta_step=0, max_depth=10,
       min_child_weight=1, missing=None, n_estimators=1000, n_jobs=1,
       nthread=None, objective='reg:linear', random_state=2, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [95]:
predictions_scaled = my_scaled_model.predict(test_X)

print("Mean Absolute Error : " + str(mean_absolute_error(predictions, test_y)))
print("Root Mean Squared Error : " + str(sqrt(mean_squared_error(predictions, test_y))))

Mean Absolute Error : 12.275554711602481
Root Mean Squared Error : 15.801463805421669

In [96]:
d_scaled = {'col1': test_y, 'col2': predictions_scaled}
pd.DataFrame(data=d_scaled).head(10)

      col1       col2
0   3.4733  22.005516
1   6.7019   8.047302
2  23.2460   8.047302
3  39.1452  11.677471
4  38.9155  20.600437
5  17.9872   8.104034
6   3.4642   9.857497
7  42.0606  11.677471
8  73.8614  24.208683
9  12.5775   9.310909

In [97]:
pd.DataFrame(data=d_scaled).head(10).describe()

            col1       col2
count  10.000000  10.000000
mean   26.143280  13.353662
std    22.429499   6.353140
min     3.464200   8.047302
25%     8.170800   8.405753
50%    20.616600  10.767484
75%    39.087775  18.369696
max    73.861400  24.208683

#Saving Model

In [0]:
modelname = 'model_to_submit_02.pickle.dat';
fullpath = '/content/drive/My Drive/csvs/'+modelname;

In [0]:
import pickle

In [0]:
# save model to file

pickle.dump(my_model, open(fullpath, "wb"))
 
## some time later...
# 
## load model from file
#loaded_model = pickle.load(open("/content/drive/My Drive/csvs/Test1.pickle.dat", "rb"))
## make predictions for test data
#y_pred = loaded_model.predict(X_test)

In [0]:
# load model from file
#loaded_model = pickle.load(open("/content/drive/My Drive/csvs/final_to_submit.pickle.dat", "rb"))
# make predictions for test data
#y_pred = loaded_model.predict(test_X)

In [0]:
print("Mean Absolute Error : " + str(mean_absolute_error(y_pred, test_y)))
print("Mean Squared Error : " + str(sqrt(mean_squared_error(y_pred, test_y))))